[2017-11-27 16:01] rnemec opened #1 "Multiple server responses"
This is probably a feature request:
If the module I'm testing makes multiple `axios` calls, could the dev have more control for mocking responses based on request data? I guess if the calls order is guaranteed, your API still works (I like the  queue approach you did) but if they are done e.g. using Promise.all or some other less predictable ways, I wonder what you could offer. 😄

[2018-01-14 22:00] dotnetCarpenter opened #3 "TypeError: Cannot read property 'resolve' of undefined"
I need help to understand this error message. The stack trace is:

[code]

I've followed the README and created a `__mock__/axios.js` file in the root.
[code]

I then created a simple test case in `tests/loader.test.js`:
[code]

In `tests/tmp/dummy.js' I have:
[code]

The result is:
[code]

[2018-01-14 22:07] dotnetCarpenter commented on #3
I looked through my local _jest-mock-axios_ package but since it's transpiled I didn't get much out of. Looking at the source on github, it becomes much more clear. The error in the stack trace points to [lib/mock-axios.ts#L66](https://github.com/knee-cola/jest-mock-axios/blob/master/lib/mock-axios.ts#L66).

What is not clear is from where the response is suppose to come from. Since we are mocking

[2018-01-14 22:10] dotnetCarpenter commented on #3
OK, I was too fast. Of couse the `promise` variable is the issue here. [lib/mock-axios.ts#L54](https://github.com/knee-cola/jest-mock-axios/blob/master/lib/mock-axios.ts#L54)

[2018-01-14 22:17] dotnetCarpenter commented on #3
Hmm.. The [README](https://github.com/knee-cola/jest-mock-axios/blob/master/README.md#basic-example) says that `mockAxios.mockResponse` can be called with `{ data: 'server says hello!' }` but that doesn't looks like the signature for [`public mockResponse(response?:HttpResponse, promise:SyncPromise=null):void {`](https://github.com/knee-cola/jest-mock-axios/blob/master/lib/mock-axios.ts#L51).

Wha

[2018-01-14 22:28] dotnetCarpenter commented on #3
I've never written typescript so I might be wrong but let's assume that the type `HttpResponse` does nothing, then `{ data: 'world' }` will be mixed in the response object.

Node: v8.9.4
jest: 22.0.6

[2018-01-14 22:51] dotnetCarpenter commented on #3
Jesus. I misspelled `__mocks__`(missing **s**)!

[2018-01-14 22:51] #3 closed

[2018-01-25 03:36] denchen opened #4 "Generator functions?"
Does this library work with generator functions? And if so, can I get an example on how to write a test case for it?

Let's say the generator function is very basic, such as:

    export function* testApi(url) {
      try {
        return yield axios.get(url);
      } catch(error) {
        console.log('ERROR:', error);
        throw error;
      }

[2018-02-09 10:53] timotgl opened #5 "axiosClientInstance.interceptors.request.use not supported?"
The code I'm trying to test looks like this:

[code]

Jest gives the following error:
[code]

Had to resort to some trickery to stub the call to the interceptors, but I'm not sure this worked:

[code]

After doing this, `axiosClientInstance.put()` does not return a promise anymore. Is there any way currently to stub the interceptors properly?

[2018-02-23 21:41] danawoodman commented on #3
I'm having this same issue but have the `__mocks__` folder spelled correctly. Perhaps there is another reason for this?

Even though I'm passing in a promise this error throws, which is unexpected

[2018-02-23 21:45] danawoodman commented on #3
@knee-cola any chance you have some ideas on why this would be happening?

[2018-02-26 08:58] DominicGebhart commented on #3
I ran into the same problem today, working with Webpack

[2018-02-27 22:58] danawoodman commented on #3
I ended up just using direct mocking using Jest that works pretty well:

[code]

[2018-03-01 10:14] knee-cola commented on #3
I have managed to reproduce the original error reported by @dotnetCarpenter and can confirm he's findings . This problem can be caused by mispelling the "mocks" directory. The mocking file needs to ne placed inside the **__mocks__** directory - not the **__mock__* dir.

@danawoodman have you configured Jest to transform TypeScript before running the tests?

Here's a  sampe `jest.config.js` file (i

[2018-03-01 21:46] danawoodman commented on #3
@knee-cola yes it is transforming TypeScript

[2018-03-07 21:32] vnugent commented on #3
I'm seeing the same error as described by OP.  The dir is correctly spelled as __mocks__.

[code]

[2018-04-04 21:24] timthompson opened #7 "create mock missing from npm build?"
I'm working on some code that uses axios with Jest for unit testing and ran into an issue using jest-mock-axios.  The npm package doesn't appear to have the create functionality available.  When using the library to mock axios I am seeing this error:

`TypeError: _axios2.default.create is not a function`

To get around this I cloned your repo and tried to do a build locally to compare files but th

[2018-04-04 21:36] timthompson commented on #3
I ran across this same issue and thought I would comment for anyone else that may come across this issue.

If the problem isn't the spelling/placement of the `__mocks__` directory, another potential cause of this issue that isn't really spelled out in the docs but makes sense after looking at the source is the  mockAxios.mockResponse() or mockAxios.mockError() call should come after your axios cal

[2018-04-06 12:38] #7 closed

[2018-04-07 19:52] jdolle opened #8 "Missing support for generic axios method"
Missing support for https://github.com/axios/axios#axiosconfig

[2018-04-12 21:52] posva opened #9 "New viersion"
Hello, could you publish a new version containing the patch for `axios.create` pleeease? 😄

[2018-04-16 14:55] knee-cola commented on #8
the support has been added in the new v2.0 version

[2018-04-16 14:55] #8 closed

[2018-04-16 14:57] knee-cola commented on #9
sorry for a late reaction ... the new version has just been published!
In addition to the `create` method I've also enabled the Mock to be called as a function (https://github.com/axios/axios#axiosconfig)

[2018-04-16 14:57] #9 closed

[2018-04-16 16:33] knee-cola commented on #1
Requests can be resolved out of order by providing the second parameter to the `mockResponse` or `mockError` methods.

In the latest version I've added the `lastReqGet` which can be used to fetch the internal queue data item, which contains all the info regarding the request made.

If you store this object in you spec script you can use it to resolve previous requests in any order. The data contai

[2018-04-16 16:34] knee-cola commented on #4
As of yet generator functions are not supported. If you wish, you can implement this yourself ... make a pull request ;)

[2018-04-17 11:04] knee-cola commented on #5
I'm sorry to say, but interceptors are currently not supported. I hope to find some time and implement this feature (can't promise when). You're welcome to implement it yourself and make a pull request :)

[2018-04-26 18:02] shortstevenn commented on #3
@timthompson nice catch, that _was_ pretty non-obvious :)

[2018-05-04 16:43] chrisjlee commented on #5
Trying to do this too. Might be a dumb question could you possible provide some insight what would it take to get this working?

[2018-05-31 15:51] kmarple1 opened #11 "Not all valid instance methods are supported"
Testing the following code:
[code]

Tests work fine for get, delete, post and put, but fail for head, options and patch because jest-mock-axios doesn't seem to support them. I realize they're rarely used nowadays, but is it possible to add support for the sake of completeness?

[2018-06-27 01:47] VictorCazanave commented on #5
I was looking for the same feature and I think there is a typo in the [README](https://github.com/knee-cola/jest-mock-axios#missing-features) that misled me : "AxiosMock coveres the most popular parts of Axios API, meaning that some of the features are **~~not~~** missing (i.e. interceptors)."
(English is not my native language, so I may be wrong 👼 )

[2018-07-11 22:32] twilco opened #13 "TypeError when trying to use mockResponse"
Receiving this error when trying to use `axiosMock.mockResponse`.

[code]

Here's my test (**billing.test.js**):

[code]

I have created the __mocks__ folder.  My structure looks like this:

[code]

**axios.js:**

[code]

**package.json:**

[code]

What am I doing wrong here?

[2018-07-24 20:04] j-mew-s opened #14 "mockError object fails instanceof test"
I have some code in an axios interceptor which returns an instance of a specific error in some error conditions. I have some code to test which tests for this error using instanceof.

I want to use jest-mock-axios to mock out this error condition and return this error object, but the implementation for mockError uses object.assign({}, error) which results in the instanceof test failing.

I was won

[2018-08-01 12:34] maciej-kolodziejczak opened #15 "Typings declaration file is missing"
`types` path in `package.json` does not match any files. `index.d.ts` file is not present in current build under given path so typings do not work.

[2018-08-02 18:57] dannyheard7 opened #16 "Setting defaults within production code causes TypeError during tests"
Whenever defaults are set for axios in the code e.g. headers or baseUrl, when this code is tested using jest-mock-axios the following error is thrown:

`TypeError: Cannot read property 'headers' of undefined
at LoggedInContainer.setAuthHeader (src/App/Containers/LoggedInContainer.jsx:22:34)
      at new LoggedInContainer (src/App/Containers/LoggedInContainer.jsx:11:18)
      at ReactShallowRendere

[2018-09-10 21:03] naveenkanumoori opened #17 "Always going to catch function if we write catch block."
If we have both then() and catch() then no matter what we mock as a response, control is going to catch() only.
If we dont write catch() then it is working fine, but I need to handle error response in order to display error message.

Can you please help me with that?

[2018-09-18 16:14] sbaechler commented on #15
There is an open MR: https://github.com/knee-cola/jest-mock-axios/pull/10

[2018-10-12 20:12] gregorskii opened #18 "Does not have axios.request just the helper methods.."
I don't think this has axios.request() can you confirm?

I tried to proxy axios.request -> axios() which is similar, that did not work, and I tried writing a switch to call the axios methods similar to how axios does it, did not work either.

This lib is much closer to working for me than others, as it can be used to mock axios in other libs that import it.

[2018-10-17 00:06] LukeSilva opened #19 "Calling reset does not reset the axios mock function"
You can call axios with code like the following:
[code]

[2018-10-17 14:13] jsgriffin commented on #18
I've also just run into this issue

[2018-10-17 15:13] gregorskii commented on #18
@jsgriffin, in the meantime I found https://github.com/ctimmerm/axios-mock-adapter works great, but has a bit more complex serup.

[2018-10-21 22:31] edersign opened #20 "ld debug"

[2018-10-21 22:31] #20 closed

[2018-10-31 18:21] gkrinc commented on #16
There doesn't appear to be a `defaults` property. I suspect I'm doing something very similar to what you're doing @dannyheard7:

`client.defaults.headers.common['X-MY_AUTH-HEADER'] = 'header-value';`

I fixed this by extending the `mockAxios` object in `__mocks__/axios.js` like this:

[code]

Hope that helps

[2018-11-30 23:05] dangodev commented on #19
I’m experiencing something similar; might be a different issue.

I’m trying to test `mockResponse` with `mockError` in the same suite. If I call `mockResponse` first, then the first and all subsequent calls will work fine, but `mockError` will err with `Cannot read property 'reject' of undefined`.

The opposite is true: if I call `mockError` first then try and call `mockResponse`. The error call w

[2018-12-04 04:53] shahzadcacf commented on #1
I bump into same problem. i have 4 API calls in ComponentDidMount and i want to control the response of each. lastReqGet doesn't help me.

[2018-12-27 10:38] DavyJohnes commented on #17
As a temporary workaround I've added this
[code]
to my `__mocks__/axios.js` file and it works.

[2019-01-25 14:51] MatthewBooth commented on #13
Same issue. This library seems broken.

[2019-02-01 15:58] DatVuGcc opened #23 "mock axios using axios interceptors"
I'm trying to use mockAxios for testing with axios interceptors.

![image](https://user-images.githubusercontent.com/45617185/52134173-05ec6e80-2654-11e9-8b69-99f815cd1f75.png)

![image](https://user-images.githubusercontent.com/45617185/52134514-c83c1580-2654-11e9-94c2-124113405f52.png)

When I created mockAxios:
export default {
  get: jest.fn(() => Promise.resolve(data: {}))
}
All of my tests f

[2019-03-05 16:34] marvinkome commented on #23
I used this in my `__mocks__/axios.js` file:
[code]

[2019-03-08 20:41] chimilord commented on #23
@marvinkome works smooth! Thanks.

[2019-03-11 21:04] #11 closed

[2019-03-15 16:34] Graham42 commented on #5
In case someone ends up here from google

[code]

[code]

[2019-03-19 12:21] DatVuGcc commented on #23
Didn't help. Still have the same issue.

[2019-03-19 15:25] kingjan1999 commented on #23
That's a duplicate of #5.

[2019-03-19 15:25] #23 closed

[2019-03-19 15:38] kingjan1999 commented on #5
Hi,

thank your for reporting this issue. I've implemented basic support for interceptors (as already presented here and in #23) with version 2.3.0 (just published on npm). Please try and report back.

[2019-03-19 15:38] #5 closed

[2019-03-19 15:38] kingjan1999 commented on #15
This should be fixed with 2.3.0

[2019-03-19 15:38] #15 closed

[2019-03-19 15:42] kingjan1999 commented on #13
Hi,

a bit late, but: You are using the library in the wrong way: As described in the README, your supposed to first trigger the request and then mock the response. So your code should be:

[code]

[2019-03-19 15:42] #13 closed

[2019-03-20 19:02] tclain opened #25 "Breaking in change in minor version bump 2.3.0"
Hi,

it seems that the new version you just published contains a breaking change from 2.1.11.
Using it from typescript the `spyFn` function does not contains `mock` anymore, breaking tests :-(

Is it intended ?

Thanks

[2019-03-20 19:09] kingjan1999 commented on #25
Hi,

if I understand your problem correctly, that's not actually a breaking change (technically). The type `SpyFn` never really contained a full mock object (as returned from jest), only `mockClear`. I think this problem occurs because 2.3.0 loads the type definition correctly. Do I see this correctly or have I misunderstood something?

Anyway, I have already detected and fixed the described probl

[2019-03-20 19:11] tclain commented on #25
Thanks for the quick answer, that's perfect

[2019-03-20 19:11] #25 closed

[2019-03-27 05:46] priyeshvadhiya opened #27 "Axios catch error Request failed with status code 404"
i am setting up unit test with jest in my vuejs project.

testing with login component and i have tested successful all the props, input, client validation, but when i test with axios request POST then always return catch error

Error: Request failed with status code 404

    console.log node_modules/raven-js/src/console.js:35 { Error: Request failed with status code 404 at createErrorResponse (/U

[2019-03-27 12:42] kingjan1999 commented on #27
Hi,

you are using [axios-mock-adapter](https://github.com/ctimmerm/axios-mock-adapter), not this project (jest-mock-axios). So you're wrong here, maybe someone can help you there.

However, you could replace _axios-mock-adapter_ with _jest-mock-axios_ . In this case, please refer to the README on how to use _jest-mock-axios_ and report back if there is still an issue.

[2019-03-27 12:42] #27 closed

[2019-04-08 15:54] traviswimer commented on #13
@kingjan1999 Although what you said is correct in a sense, I would argue the library should be throwing a more meaningful message.

Also, this isn't just a problem of not reading the docs. For example, what if you change some code and the Axios request is no longer being made. Then your tests will fail with a confusing error, which is how you end up posting a comment on this issue. 😄

[2019-04-08 15:59] kingjan1999 commented on #13
You're totally right here @traviswimer and I think even though #26 already clarified the docs on this point, throwing a more meaningful error should be doable. I will look into this soon.

[2019-04-08 18:58] #16 closed

[2019-04-09 17:30] bierik opened #28 "Question: Using jest-mock-axios with async / await"
Hei there I have the following question:

My test looks like this:

[code]

As you can see I rely on the `done` in the callback of the `submit` method of the component. The `show` property is set to `true` when the `submit` is finished.

So how do I do the same with `await`, because the `then` is a bit ugly in my opinion and makes the code more complicated?

When I `await` the submit, it never res

[2019-04-09 19:19] kingjan1999 commented on #28
Hi,

Thanks for your interest in this library! I think something along this pattern should work for you (at least it does for me...):

[code]

So you shoudl be able to rewrite your code as:
[code]

I can't test this of course, so please try this (or something similar) and report back.

[2019-04-19 20:12] jonjaques commented on #18
See #29

[2019-04-20 19:10] kingjan1999 commented on #18
Fixed with #29

[2019-04-20 19:10] #18 closed

[2019-04-25 13:07] VanTanev opened #30 "Missing cancelToken implementation"
I have a downstream library that wraps axios and uses `axios.canceToken()`: https://github.com/dai-shi/react-hooks-async/blob/master/src/use-async-task-axios.js

This breaks with `jest-mock-axios`

[2019-04-25 13:25] kingjan1999 commented on #30
Do you need a fully fledged cancel implementation or is it enough if jest-mock-axios provides a dummy implementation of `axios.CancelToken.source()` and `new axios.CancelToken()` (so that no error is thrown but cancelling itself won't work)?

[2019-04-25 14:09] VanTanev commented on #30
For my purposes, just a mock implementation should be good. It seems like doing a full one might be too complicated.

[2019-04-25 14:12] VanTanev opened #31 "Typescript interface for mockAxios.mockError() needlessly optional"
https://github.com/knee-cola/jest-mock-axios/blob/b4713c11001ab885c1452840d04288ab233bc8bc/lib/mock-axios-types.ts#L61

It seems that there is no reason `mockAxios.mockError()` should be optional? With the current definition, the following workaround is needed to not get type errors:
[code]

[2019-04-25 14:16] kingjan1999 commented on #31
You're right IMO, this applies for all methods in `AxiosMockAPI`

[2019-04-25 15:07] VanTanev commented on #31
I would believe so, yes.

[2019-04-25 15:16] VanTanev commented on #30
@kingjan1999 if you're constrained for time, I can try and provide a pull request for this?

[2019-04-25 15:18] kingjan1999 commented on #30
I would do this on the weekend, but if you can do this earlier, feel free to make a pull request!

[2019-04-26 23:49] YChebotaev opened #33 "mockAxios.post not working"
I have following code:

[code]

And `variant.trackConversion` code:

[code]

And this test fails with reason `Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.`

This means, execution never reach `expect(result).toBeEqual({})` line.

This means `jest-mock-axios` not working.

[2019-04-27 06:30] kingjan1999 commented on #33
You're missing a `mockAxios.mockResponse` call before the `expect(result)` statement.

[2019-04-27 19:02] kingjan1999 commented on #30
Fixed with #32

[2019-04-27 19:02] #30 closed

[2019-04-27 19:32] #1 closed

[2019-04-27 19:32] #31 closed

[2019-04-28 12:39] #28 closed

[2019-05-10 09:15] bierik commented on #28
@kingjan1999 Sorry for the late feedback. Your pattern worked perfectly thank you very much.

[2019-05-14 08:23] #33 closed

[2019-07-02 03:31] paulsherwinang commented on #14
I think Im experiencing the same issue, I need the mockError call to pass the instanceof test and due to the Object.assign logic, it doesn't, is there any way we can have the function pass down the error object directly and not have it assigned?

[2019-07-03 13:56] fljmayer commented on #17
Is there any news on this issue? We cannot use `jest-mock-axios` without proper `catch()` handling.

[2019-07-04 21:23] kingjan1999 commented on #17
Can you help me out here with a minimal example reproducing the bug described?
I tried the following code:

[code]

But this works fine. However, I think there is in fact a bug with the catch handling here (at least the PR linked above seems quite valid), I'm for the moment just unable to reproduce in a way that applying the PR solves the problem. In any case, if there is really an upstream bug wi

[2019-07-04 21:44] kingjan1999 commented on #14
Hi,

frankly, I can't answer why we make a copy of the object with Object.assign, which of course has the side effect described. I will have a look at it again on occasion (probably at the weekend) and then either pass it directly or replace it with a better clone mechanism.

[2019-07-23 08:27] goldo opened #35 ".finally is not a function"
Hi, i'm getting this error in my test:
[code]

So I tried to do a simple:
[code]
and got `undefined`

version: `3.0.0`

[2019-07-23 09:47] kingjan1999 commented on #35
This is because our promise library (jest-mock-promise) doesn't support `finally`. There's an open merge request (knee-cola/jest-mock-promise#6) but I doubt it will get merged soon.

However, as we probably have to replace the promise library to fix #17, this issue should be fixed as well soon.

[2019-07-29 18:01] #14 closed

[2019-07-29 18:16] kingjan1999 commented on #35
Fixed with 3.1.0 (just published)

[2019-07-29 18:16] #35 closed

[2019-07-29 18:16] kingjan1999 commented on #17
Should be fixed with 3.1.0 (just published) as I switched the promise library. Please report back if it still doesn't work.

[2019-07-29 18:16] #17 closed

[2019-08-22 15:47] magicspon opened #37 "How to mock a response from axios.all?"
hello,

I can see axios.all has been mocked, but I can't see how you handle mocking responses.

Is this possible?

thanks

[2019-08-22 16:04] magicspon commented on #37
Sorted!

[code]

as you were!

[2019-08-22 16:04] #37 closed

[2019-09-06 19:29] blalasaadri opened #38 "finally() called to early"
Due to https://github.com/fluffynuts/synchronous-promise/issues/15 any `.finally()` blocks on production axios calls will be called before the call is completed by using `axios.mockRequest()` or `axios.mockError()` if synchronous-promise 2.0.9 is used. Increasing the dependency like such:
[code]
should fix this issue though.

[2019-09-06 19:33] kingjan1999 commented on #38
Thank you for reporting! I will look into this on Sunday, but feel free to submit a PR before.

[2019-09-07 18:03] kingjan1999 commented on #38
I updated the dependency with e7855bf79555a5ce4bc6a1e32da37e35e33b59fd. The commit is included in version 3.1.1, which was just published to npm.

[2019-09-07 18:03] #38 closed

[2019-11-27 22:44] kevr opened #41 "Mocking nested axios requests"
[code]

With this code being used in a test, I can't get the nested axios.request to be completed before the test is complete. I've tried using a fake jest timer to allow the test extra time in case I was just ending the test before the promises were resolved, but it didn't help anything.

Could anyone show an example of mocking nested requests with `jest-mock-axios`?

To clarify: The test is succ

[2019-11-28 09:59] kingjan1999 commented on #41
The following code works for me:

[code]
I think you need to use `setImmediate` here to give the promise a chance to be processed.

Please try and report back!

[2019-11-29 22:23] #41 closed

[2019-12-06 10:23] ThiefMaster opened #42 "getReqByUrl needs to fail if there is no matching request"
Let's say I have this code in my test:

[code]

This will be equivalent to

[code]

so it will silently respond to the latest request, which may be the correct one - but the fact that it's not the URL I specified will be lost.

I think `getReqByUrl` should return something that's not undefined or throw an error when there's no matching request. For the sake of backwards compatibility, a `mustGetRe

[2019-12-07 13:11] kingjan1999 commented on #42
That's a reasonable suggestion. Feel free to submit a PR (but don't feel obligated - I will surely implement this in the next days, if you don't beat me to it)

[2019-12-07 13:11] ThiefMaster commented on #42
Any preference on the argument vs a separate function?

[2019-12-07 13:46] kingjan1999 commented on #42
Hey,

I just gave this another thought:
While I agree that this snippet:
[code]

responding to the last request exhibits an unexpected behavior (which could be simply circumvented by adding something like `expect(req).not.toBeUndefined()`), I don't think this is because of `getReqByUrl` returning `undefined`. I would consider returning `undefined` the more appropriate response than throwing an err

[2019-12-07 13:56] ThiefMaster commented on #42
Hm, what about adding a `mockResponseFor` function that combines the two?

`mockResponseFor('url', response)` for simple cases, or `mockResponseFor({url, method, ...}, response)` as a more advanced version when you want to specify more than just the URL to find the request

[2019-12-08 00:15] kingjan1999 commented on #42
Sounds great to me!

[2019-12-08 14:27] #42 closed

[2020-01-02 06:53] btomasini opened #44 ".mockError throwing error because axios call not yet added to mock"
I am testing an async method using axios, and am finding that the mockError is throwing an error because the request has not yet been added to the mock.  I followed an example for using the library with an async method but still no luck.  Any adivce is appreicated:

Secure.ts
[code]

Secure.test.ts
[code]

Result:
[code]

[2020-01-04 15:15] kingjan1999 commented on #44
The problem here is probably that `mockError` is executed right after `await this.getStorage()` and before `await axios()`, which results in the above error. Is there any way for you to move the `getStorage` or make sure that it resolves (and the code execution continues up to `await axios`) before the `mockError` call?

[2020-02-14 03:56] ezra-m opened #45 "Mocking axios.CancelToken"
I understand that jest-mock-axios provides axios cancel interfaces, but does anyone have any examples of how they have implemented this, specifically mocking axios.CancelToken?

Thanks.

[2020-02-15 14:01] kingjan1999 commented on #45
Hi,

as described in the README, the current mock of `CancelToken` is there to prevent any errors (see #30 and #32).

So basically, this (taken from the axios README) works:
[code]

[code]

Do you need some more implementation here?

[2020-02-17 01:36] ezra-m commented on #45
Perfect, thank you.

[2020-02-17 07:31] #45 closed

[2020-02-25 13:22] AnandShiva opened #46 "No request to respond to! when used along with multiple async await"
Thanks for your package. Love it !
But I seem to have an issue with it when using it along with async-await functions.
Test Code looks like
` test("authenticate", async () => {
    let promiseObj = authenticate(email, password).then((msg) => {}).catch(catchFn)
    // simulating a server response
    let responseObj = {
        data: ["centralpet"]
    };
    mockAxios.mockResponse(responseObj);

[2020-02-25 13:42] kingjan1999 commented on #46
This looks like a duplicate of #44. Currently, I am not aware of any workaround for this, except for splitting up the two await calls in two different functions. But I will look at this again soon

[2020-02-26 07:40] AnandShiva commented on #46
@kingjan1999 Any reason why mockResponse should be set after the axios call has been made?
If it is possible to change this architecture I can fork a branch and have this mocking response after the call to be a configuration parameter.

[2020-02-26 08:17] kingjan1999 commented on #46
This is currently due to how this library works: It takes any requests made, puts them into a queue and then pops the first one (or the specified one) when mockResponse is called. Feel free to make a pull request to make this more flexible

[2020-02-27 15:29] MichaelKim39 commented on #28
Thank you! That was extremely helpful, may be worth adding to the readme

[2020-02-28 18:19] kingjan1999 commented on #28
Thank you for the suggestion @MichaelKim39! I've added a simple example (a13ddd9)

[2020-03-05 12:09] MaiOsman opened #47 "UnhandledPromiseRejectionWarning: TypeError: Caught error after test environment was torn down"
Get Error when test faild case in post request [image for Error when run test][1]

**Using Reactjs framework version 16**

**axios-hooks for api requests**

**react-testing-library for test**

**test code**
[code]
**(code is tested) Using axios hooks make request then send error to form**
[code]

  [1]: https://i.stack.imgur.com/Wo7Nb.png

[2020-03-05 17:04] kingjan1999 commented on #47
Are you sure that the error is related to jest-mock-axios? Can you provide a minimal reproducible example?

[2020-03-09 20:44] Hamidrezana commented on #45
I didn't understand how to use this implementation.
[code]
This is my code that I want to test.
What should I do with your implementation.

[2020-03-11 19:05] kingjan1999 commented on #45
@Hamidrezana Do you want to test if calling `getCarsFromServer` another time while the first request is still running cancels the first one? In that case: This currently doesn't work with `jest-mock-axios` - sorry!

[2020-03-12 09:29] Hamidrezana commented on #45
@kingjan1999 Yes, Anyway tnx.

[2020-03-28 01:38] dducrest commented on #45
Hi @kingjan1999, I'm looking to something similar.

I worked around the functionality by mocking CancelToken.source.cancel(errorString?:string) function to create an object that passes Axios.isCancel(error) test.

`
cancelToken.source.cancel = jest.fn((errorString?: string) => {
            mockAxios.mockError({ toString: () => { return errorString; }, __CANCEL__: 1 });
        });
`

The error pa

[2020-04-22 08:27] Harut101 opened #49 "cancelToken"
cancelToken.source() is undefined when ai run test you have mock example it?

[2020-04-23 15:36] kingjan1999 commented on #49
Hi,

this should work as described in #45 and the README. Can you provide a minimal example of it being undefined?

[2020-04-24 09:37] Harut101 commented on #45
![Screenshot (12)](https://user-images.githubusercontent.com/36543683/80198106-ab607900-8630-11ea-9127-f544f65fa8f6.png)
how can I make mock?

[2020-04-26 13:13] Harut101 commented on #49
![Screenshot (12)](https://user-images.githubusercontent.com/36543683/80308643-32ecea00-87e1-11ea-8fb2-b2bf3899f626.png)

[2020-04-27 11:44] Martin7mind commented on #46
@AnandShiva did you find a workaround?

[2020-04-28 16:54] kingjan1999 commented on #49
Hi,

I'm afraid to show a bit of source code so I can reproduce this. Are you using the latest version of this library? This should work (and works) as described [here](https://github.com/knee-cola/jest-mock-axios/issues/45#issuecomment-586593034):

Function to test (based on the axios example):
[code]

Test:
[code]

[2020-04-28 16:54] #49 closed

[2020-04-28 17:50] kingjan1999 commented on #45
Please note: Actually cancelling requests is now supported with version 4.0

[2020-05-14 11:57] BrendanBall commented on #46
Why can't this work like a regular jest mock where you're able to for example do
[code]
Jest fully supports async tests and seen as this package is specifically written for jest I don't see a reason to work outside of its framework.

[2020-05-20 15:36] evelynhathaway opened #50 "mockAxios() isn't compatible with the axios("/get/reqest") call signature"
When calling `axios("/my/api/call")`, `mockAxios.mockResponseFor({ url: "/my/api/call" })` fails to find the request because the URL string is assigned to the config property.

Everything works as expected when using `axios.get("/my/api/call")` instead as a workaround.

https://github.com/knee-cola/jest-mock-axios/blob/429f7716de4af53eba43e04b621c81b90792e7bb/lib/mock-axios.ts#L22-L25

[2020-05-22 07:56] #50 closed

[2020-05-22 07:59] kingjan1999 commented on #50
Thanks for the report!

Fixed in bb90fee, published as v4.1.0.

[2020-05-24 11:55] doutatsu opened #51 "Request to add changelog"
I've recently noticed that this package have been updated to 4.0.0. But It's hard to see all the changes since 3.2.0, I am currently on. I'd like to suggest adding a changelog, which would make it easier to update this package. This should also let dependabot handle this library better

[2020-05-24 11:58] kingjan1999 commented on #51
Hi,

there is a changelog already in the [releases tab](https://github.com/knee-cola/jest-mock-axios/releases). I am not familiar with dependabot, so I don't know how it would profit from a separate changelog file.

[2020-05-24 12:10] doutatsu commented on #51
Thanks for a prompt answer @kingjan1999, I should have checked releases tab. [dependabot](https://dependabot.com/) lets you manage dependencies automatically and is extremely useful because of that. It was even acquired by Github.

If you have a changelog, when your package is updated, it will show that changelog in the PRs it makes for projects that use your dependency, like this:

![](https://us

[2020-05-24 12:20] #51 closed

[2020-05-24 12:21] kingjan1999 commented on #51
Added in  ba74cb5

[2020-05-28 06:19] suresh777 commented on #45
I am facing same issue, any update
  TypeError: Cannot read property 'source' of undefined

  const CancelToken = axios.CancelToken;
    const source = CancelToken.source();

[2020-05-28 13:23] kingjan1999 commented on #45
@suresh777  Are you using the latest version of this lib? Can you post a minimal example?

[2020-06-02 17:24] kingjan1999 commented on #50
That's right, I've accidentally published to the wrong registry (oops :fearful:). Fixed, should appear there soon

[2020-06-02 18:14] evelynhathaway commented on #50
Oh no! It happens, so I hope everything is okay with that. On a positive note, I pulled the new version and the fix works great! Thanks again. ❤️

[2020-06-30 15:08] Emidomenge opened #55 "axios.mockErrorFor"
Hello,

First of all, great job for this lib, I like it a lot. :)

Just a request if it's possible to do a function `axios.mockErrorFor` which will behave same as `axios.mockResponseFor` but sending an error ?

Or is there a workaround to do it ?

Thanks !

[2020-07-01 11:04] kingjan1999 commented on #55
Hi,

you should be able to use `getReqMatching` to get the request info and then use it as a second parameter for `mockError` (see docs) to replicate the behavior of `mockResponseFor`.

Adding `mockErrorFor` might be interesting for symmetry reasons, but it would only be a mere abstraction over existing methods as described above.

Hope this helps for now...

[2020-07-05 21:05] #55 closed

[2020-07-14 10:21] pedrotorchio commented on #46
this' been a pain for me too

[2020-07-16 06:17] aarlaud commented on #46
I get the same "No request to respond to!" after 10 successful responses using await. My first 10 test cases (with one await call in each) pass well and then this fails. Tried to change the code but always seems to be a 10 limit somehow. Not clear what seems to cause this as I could not see something like a limit in the queue size. Any ideas?

[2020-08-19 20:49] barteklecki opened #58 "issue: two axios calls in tested function but only one (first) response ever can be referenced"
Hi guys, thanks for cool lib!

I'm trying to test async service that is returning response object and includes few intertwined API calls (axios with interceptors). Right now I'm using **jest-mock-axios** lib:

*(I removed irrelevant parts of code, originally written in TS)*
[code]
[code]
[code]
I'm using axios mock and for my others, simpler tests of services but without additional, internal calls

[2020-08-19 20:59] #47 closed

[2020-08-19 21:02] kingjan1999 commented on #58
Hi,

thank you for reporting!  It looks like this is a duplicate of #46 and #44, but I'll look deeper into this tomorrow and see what we can do about it, as it comes up regularly here.

[2020-08-27 22:24] gnarea commented on #46
In case it helps anyone else running into this and/or #44: Try `axios-mock-adapter`

[2020-08-31 10:51] spanitz opened #59 "mockAxios.create() may return a new instance of mockAxios"
Assuming the following use case:

[code]

Basic test szenario:

[code]
Because mockAxios works with a shared state, a workaround would be to override the `create` method and simply return a shalow copy of mockAxios (as in the following example) Since `axios.create()` actually appears to be a factory, the mock could also return a new instance. I think this would be ideal. What do you guys think?

[

[2020-09-01 18:16] kingjan1999 commented on #59
Hi,

I agree that there is indeed room for improvement when using multiple axios instances. I'll see how it can be improved over the weekend.

[2020-09-06 14:21] kingjan1999 commented on #59
Hi,

so I implemented the desired behavior in the [`59-multiple-instances`](https://github.com/knee-cola/jest-mock-axios/tree/59-multiple-instances) branch as a proof of concept.

This works, but it adds a significant new problem: If you create separate `axios` instances via `axios.create()` you can no longer mock them using the `mockAxios` default export, because it is two different instances wit

[2020-10-07 10:12] cmacdonnacha opened #60 "Question: Why use this instead of the built in mock that comes with Jest?"
Hey,

I have been mocking my axios method via Jest for a while now but came across this package and I've wondered what it does for you that the built in Jest mocking doesn't?

In my React component I simply have:

[code]

[2020-10-07 18:21] kingjan1999 commented on #60
Hi,

In short? Nothing. This library uses Jest's mocking support as well, so everything this library does you can do by your own as well.

However, depending on your needs, there might be situations were using this library is advantageous to using your approach (which is also the approach outlined in the [Jest docs](https://jestjs.io/docs/en/mock-functions#mocking-modules)).

Precisely, the contro

[2020-10-07 18:21] #60 closed

[2020-10-20 13:33] Emidomenge commented on #55
Ok, it works indeed, I put an example which can be useful I think:

Some context:
_I have many requests triggered in background (they can arrive in a random order) and I need to mock only a specific one._

[code]

[2020-11-06 11:26] cmacdonnacha opened #61 "Question: Does jest.mock('axios') get called automatically?"
Not an issue, just a question.

Before using this wonderful library I would always have to use `jest.mock('axios')` at the top of my test to ensure that real api calls were not being made. I was wondering if this is now called by default inside your library?

[2020-11-08 19:09] kingjan1999 commented on #61
Hi,

calling `jest.mock` shouldn't be necessary when using ES6 module imports with Jest (from the [docs](https://jestjs.io/docs/en/manual-mocks#using-with-es-module-imports): "If you're using ES module imports then you'll normally be inclined to put your import statements at the top of the test file. But often you need to instruct Jest to use a mock before modules use it. *For this reason, Jest wi

[2020-11-08 19:09] #61 closed

[2020-11-09 11:21] cmacdonnacha commented on #61
Great thanks!

[2020-11-13 21:19] Chris-Thompson-bnsf opened #62 "axios.CancelToken.source() returns `undefined`"
jest-mock-axios version: `4.2.1`
jest version: `26.6.0`

Upgrading an existing React project by several versions, including going from Jest 24.x to Jest 26.x, and a ton of our tests which were mocking Axios are now failing with this error.

Minimal repro:
[code]

I have seen similar issues which were closed, such as [this one](https://github.com/knee-cola/jest-mock-axios/issues/45#issuecomment-586

[2020-11-15 15:40] kingjan1999 commented on #62
Hi,

thanks for reporting this bug! Unfortunately, I am unable to reproduce the bug using the provided minimal example and the latest versions of jest and this library.

Are you sure you are using this library correctly? Please note that using `jest.mock('axios')` shouldn't be necessary (as explained in #61). Instead place a `axios.js` file into `__mocks__/` with the contents described in the Read

[2020-11-16 13:08] Chris-Thompson-bnsf commented on #62
The tests which were making use of the library were working prior to the version updates that were being done. I tested with and without the `jest.mock('axios')` line (both in the test itself, and in the `setupTests.js` file), and also tested that the issue remains whether I use a `axios.js` or `axios.ts` file in the `__mocks__/` directory (at the root of the repo, sibling of `node_modules/`).

[2020-11-21 20:21] kingjan1999 commented on #62
@Chris-Thompson-bnsf Sorry for the late reply! I created a sample reproduction repo at [kingjan1999/jest-mock-axios-repo-canceltoken](https://github.com/kingjan1999/jest-mock-axios-repo-canceltoken). Can you try to reproduce the issue with this repro (`yarn test`)? Are there any differences between your project and the sample repro?

[2020-11-23 13:37] Chris-Thompson-bnsf commented on #62
@kingjan1999 I was able to reproduce it with a few changes to the supplied repo. This can be seen at this fork of that repo:
https://github.com/Chris-Thompson-bnsf/jest-mock-axios-repo-canceltoken/tree/62-Repro

It required some changes to the repo in order to facilitate how `react-scripts` (create-react-app) works.

[2020-11-23 19:16] kingjan1999 commented on #62
@Chris-Thompson-bnsf I could reproduce this with `react-scripts`. The issue stems from `react-scripts test` running with a jest config setting the project root to [`<rootDir>/src`](https://github.com/facebook/create-react-app/blob/538d527e4a6b133af09adb46b01d20d7a06c59f5/packages/react-scripts/scripts/utils/createJestConfig.js#L26) (the default jest config is `<rootDir>`). So to load the mock corr

[2020-11-23 19:44] Chris-Thompson-bnsf commented on #62
@kingjan1999 Thanks very much for the info. I was able to get past this issue with the change you outlined (moving our project's `__mocks__` directory under the `src` directory).

I will go ahead and mark this as closed now :).

[2020-11-23 19:44] #62 closed

[2020-11-23 19:45] kingjan1999 commented on #62
Great, glad that helped. I included that into the README.

[2020-11-27 10:37] rcg-dev commented on #59
I am getting this error ( I am assuming it is tied to this new update)

`TypeError: axios.create is not a function`

I have a singular instance being created in my file.

sd.instance = axios.create({
                baseURL: process.env.SDApiUrl,
                httpsAgent: new https.Agent({ keepAlive: true }),
                headers: { 'Content-Type': 'application/json' }
            })

[2020-11-30 13:53] alexburlton-sonocent opened #63 "async / await testing pattern broken when upgrading Jest version - No request to respond to!"
Hi!

We're using this library in a project built with Create React App, and have followed the async / await testing pattern outlined in https://github.com/knee-cola/jest-mock-axios/issues/28.

I'm trying to upgrade us to CRA 4, but doing so is breaking all of these tests with `Error: No request to respond to!`. Bumping major CRA version bumps a load of sub-dependencies, so guessing one of these is

[2020-12-02 20:45] kingjan1999 commented on #59
@rcg-dev I failed to reproduce this error (which isn't that surprising, as `create()` is used in the [tests](https://github.com/knee-cola/jest-mock-axios/blob/master/test/index.spec.ts#L44) for this library as well). Can you do `console.log` to find out what `axios.create` is, if not a function?

[2020-12-02 21:04] kingjan1999 commented on #63
Hi,

thanks for reporting - I was able to reproduce this with the latest version of create-react-app / react-scripts. It looks like this is related to `react-scripts` defaulting jest's `resetMocks` to `true` since v4. Consequently you can workaround this bug by adding:

[code]

in your `package.json` while I am further investigating this issue.

[2020-12-02 21:14] #44 closed

[2020-12-03 10:59] alexburlton-sonocent commented on #63
Thanks for looking into this and responding so quickly with a workaround! :tada:

[2020-12-03 23:20] Chris-Thompson-bnsf commented on #63
I also ran into this issue after the CRA 4.0 upgrade, and I can confirm that the `resetMocks: false` workaround worked for our project as well.

[2020-12-21 15:15] alexburlton-sonocent commented on #63
Hmm, the `resetMocks: false` workaround doesn't seem to be working here - I'm still seeing `Error: No request to respond to!`

[2020-12-21 18:19] kingjan1999 commented on #63
Hi,

there are several upstream issues for the `resetMocks` behavior breaking existing test behavior (e.g. https://github.com/facebook/create-react-app/issues/9935). I'm still looking for a feasible solution except for the aforementioned workaround.

@alexburlton-sonocent I created a repro-repo using the example code you provided at [kingjan1999/jest-mock-axios-cra-repo](https://github.com/kingjan

[2021-01-28 00:30] mAAdhaTTah opened #65 "mockAxios doesn't implement `isAxiosError`"
Given that it's intended to be a drop-in replacement for axios, it would be useful to have this in the library (vs stubbing it in user code). Happy to PR a fix here if you're open to adding this.

[2021-01-28 00:46] kingjan1999 commented on #65
Sure, go ahead and submit a PR :+1:

[2021-02-04 13:54] #65 closed

[2021-02-18 01:01] robross0606 opened #67 "How to use with ES5 require() syntax"
I'm having a heckuva time trying to use this with ES5 syntax.  Doing this results in an object that has a `.default` property but calling `mockAxios.reset()` wouldn't work.
[code]
This appears like it _might_ work:
[code]
However, attempting to make calls against the mocked Axios results in an async timeout because responses never return from the mocked axios calls.
[code]

Similarly, attempting t

[2021-02-18 01:42] robross0606 commented on #67
Okay, I think I figured it out.  The primary problem was not realizing you cannot mock first and then await a call.  You must get the promise, mock the response and _then_ await the promise.  A slightly strange syntax for me, but doable.  The only problem I'm having now is how to count the number of times my call to `axios()` occurred on the mock.

[2021-02-18 01:44] robross0606 commented on #67
I worked it out.  Thanks!

[2021-02-18 01:44] #67 closed

[2021-03-03 23:05] httpete commented on #59
I'm hitting the issue with different instances of axios - is that going to get released? Seems that the fix is in.

[2021-03-04 21:19] kingjan1999 commented on #59
@httpete The patch for this is still not merged but only in the branch linked above. As described above I was (and still am) hesitant to merge this in as it would break existing, more simple usages of this library. I'm still unsure how to solve this appropriately. Any input welcome.

[2021-04-04 01:37] gquintard opened #68 "unexpected token error"
Hi,

Sorry for the newbie question, but I'm having trouble running the README example. I've created the three files as explained, i ran `npm i jest jest-mock-axios axios`, and then i'm hitting that wall:

[code]

I tried `node --experimental-vm-modules node_modules/.bin/jest`, without success.

I'm sure the answer is obvious, but have little JS experience and I could really help a hand here

[2021-04-06 15:52] alexburlton-sonocent commented on #63
Sorry for going AWOL, the create-react-app upgrade dropped off our radar for a bit so I've not been looking at this for a while.

Dug into this a bit more today and have concluded that it's our use of [react-app-rewired](https://www.npmjs.com/package/react-app-rewired) which is breaking the workaround. If I change our test command to go via vanilla `react-scripts` rather than `react-app-rewired`,

[2021-04-07 12:13] felixmosh opened #69 "Unable to mock requests when testing API end point"
First of all, thank you for this awesome lib 🙏 .

When I test my api end point, I'm doing a **black box** testing, this means that I don't have the access to the code it self and all the tests are creating http requests using `supertest` package.

This lib expecting to "break" down the code so it will first "register" the promise, and then you will able to call `mockResponse` otherwise it will thr

[2021-04-09 11:55] kingjan1999 commented on #69
Hi, thank you for your interest int his library! The problem you refer to has been mentioned here several times before and I recognize that this is something, which can be useful for certain situations.

Unfortunately, at the moment the library is built with a queue based system at it's heart, so changing this to support responses before requests would mean a significant change in this. I'm still

[2021-04-09 14:38] felixmosh commented on #69
If it is based on a queue, you can push a "waiting response" for a specific url to the queue, and when you get a "real" request to the same url & you a have a waiting return it.

Finally I've managed to define a [mock adapter](https://github.com/ctimmerm/axios-mock-adapter) for all axios requests, which allows me define responses before hand.

[code]

which exposes `mockAdapter` on global axios.

[2021-04-18 15:11] kingjan1999 commented on #68
Hi,

thank you for your interest in this lib and sorry for the long response time. This is not a problem of `jest-mock-axios` but rather a problem of your project structure. You are trying to use the `import` syntax in a project where it isn't supported. You may want to refer to the Jest documentation (e.g. the link mentioned already in the problem description, https://jestjs.io/docs/ecmascript-mo

[2021-04-18 15:11] #68 closed

[2021-04-25 19:01] gquintard commented on #68
Hi,

So, indeed, it seems it's common `npm` knowledge that I ignored until now. In case that can help someone in the future, I at least needed to:
- export NODE_OPTIONS=--experimental-vm-modules`
- add `"type": "module"` to `package.json`
- add `import {jest} from '@jest/globals';` to the top of the `test/UppercaseProxy.spec.js` (I'm surprised this one isn't in the `README` though)

I'm now hittin

[2021-05-27 22:03] ghill-legwork commented on #46
I worked around this by doing something like:
[code]
Excuse the pulling out of the mock call args, I had to only test a subset of them but you get the general idea.

[2021-12-01 20:20] kylorhall opened #77 "Is there a better way to separate multiple requests with the same url and method–eg. params?"
I have two calls to the same endpoints that happen in parallel without guaranteed order, let's just say for simplicity:
[code]

It looked like I could've attempted to resolve this like so, but it didn't feel scalable (I didn't try):
[code]

---

This is how I resolved it, basically writing my own `getReqMatching(criteria)` and iterating over the queue directly instead.  This is fine actually, I ju

[2021-12-05 19:48] kingjan1999 commented on #77
Hi,

sorry for the late response. I added support for params in the `getReqMatching` support in v4.5.0, inspired by the code you provided above. Therefore, something like this should work now:

[code]

Can you test this? Does this meet your needs?

[2021-12-05 19:48] #69 closed

[2021-12-05 21:14] kylorhall commented on #77
@kingjan1999 That's perfect actually, a much quicker turnaround than I expected!

I was in fact able to essentially revert my entire PR and go back to (_roughly_):
[code]

Works for me, closing this.

[2021-12-05 21:14] #77 closed

[2022-01-21 23:14] gusbmurphy opened #78 "Testing code using an Axios instance"
Hi everyone,

I've been looking online for some guidance on how to test code that is calling an _instance_ of Axios rather than just something like `axios.post(...)`, and am really at a loss. I've been using this library, which is fantastic, but am really stuck here and feel like I might be missing something. An example of the code I'm trying to test could look like this:

[code]

My impulse to te

[2022-01-25 22:27] ryanrhee commented on #59
my $0.02:

when using instances of axios, they should be passed in. in other words, a class that calls `_axiosInstance.post()` should take in the `_axiosInstance` as a dependency somehow, e.g. in its constructor.

i would expect the `jest-mock-axios` library to give me the ability to instantiate a mocked `AxiosInstance` instance that I can then pass into my constructor.

[2022-01-25 22:28] ryanrhee commented on #78
jest-mock-axios would need a way to instantiate mock `AxiosInstance` instances, which I don't think is yet implemented. see [my comment on another issue](https://github.com/knee-cola/jest-mock-axios/issues/59#issuecomment-1021667954)

[2022-01-25 22:35] kingjan1999 commented on #78
Hi,

sorry for the late response and thanks for raising the issue. As @ryanrhee already mentioned, this is already being "discussed" (well, it is a bit stale right now) in #59. Thus, I will close this issue and try to revive the other thanks.

[2022-01-25 22:35] #78 closed

[2022-02-07 16:47] rijkvanzanten opened #79 "Doesn't work in native ESM"
To continue where https://github.com/knee-cola/jest-mock-axios/issues/68#issuecomment-826373073 left off:

The basic example from the docs does not work in native ESM. A simple:

[code]

shows that everything is nested under a property called `default`:

[code]

<details>
  <summary>Full object copy</summary>

[code]
</details>

which in turn means any operation on `mockAxios` fails, like:

[code]

[2022-02-07 21:57] kingjan1999 commented on #79
Hi,

thanks for raising this issue. I am currently working on hybrid ESM / CJS support and will release it as v4.6.0 in the next few days.

[2022-02-25 09:10] nirajfu3e opened #80 "Using with vue component tests"
I am trying to use the package with a axion request on a vue component following the basic example but maybe I am not understanding the basics here, I can't get a `then` spy to have been called.

[code]
Then the test which uses [vue-testing-library](https://testing-library.com/docs/vue-testing-library/intro/) is as follows
[code]
In the test the first assertion (`expect(mockAxios.post).toHaveBeenC

[2022-02-25 09:18] kingjan1999 commented on #80
Hi,

it looks like your example is incomplete. You're initializing `thenFn` with `jest.fn()` but don't reference it somewhere else. Thus, it never get's called.

[2022-02-25 09:27] nirajfu3e commented on #80
@kingjan1999 Thank you for the very quick response and you are indeed correct. I forgot to ask where would I call it as the example in the readme, it is used as follows:
[code]

  I tried doing this but it didn't work as expected since the render function doesn't return a `promise`.
[code]

[2022-02-25 21:50] kingjan1999 commented on #80
@nirajfu3e In the readme example, `UppercaseProxy` [returns a promise](https://github.com/knee-cola/jest-mock-axios/blob/master/test/UppercaseProxy.ts#L22). Therefore, it is easy to chain another `then` or `catch` on the returned promise. In your example, the promise used in `onInput` can't be accessed from the test. Consequently, you can't just attach a spy function to verify the actual `then` ca

[2022-02-27 19:08] kingjan1999 commented on #80
@nirajfu3e That's exactly what should happen, yes. Can you check whether the `then` callback is called at all (e.g. with some logging)? Or provide a minimal working example (repo), so that I can look further into this?

[2022-02-28 13:00] nirajfu3e commented on #80
@kingjan1999 I did `console.log` and when I mock the response object I can see the output of the data but strangely, I can't seem to use array destructing `({data}) => this.searchResults = data` (returns `undefined`). If I simply do `(data) => this.searchResults = data`, then it shows the data when the response is mocked but still doesn't seem to update the rendered value.

I tried creating a [Cod

[2022-04-13 21:20] kingjan1999 commented on #79
Days became months, but this is finally published in 4.6.0.

[2022-04-14 08:54] meltalite opened #83 "version 4.6.0 gives SyntaxError: Cannot use import statement outside a module"
Issue:
Our test in the CI suddenly failed today.

[code]

Root cause:
in our package.json, we use `^4.5.0`, so our CI picked up release `4.6.0` which enables experimental support for native ESM

[2022-04-14 14:58] kingjan1999 commented on #83
Hi,

sorry for the inconvenience; I guess the experiment failed here. Is it okay for you to pin to `4.5.0` for the moment?

I'll have to figure out if there is a way to adequately support both ESM and CJS in one release (I thought the current way would do it...). Otherwise I'll probably push `4.6.1`, rolling back the ESM  changes and pushing `5.0.0` version instead (as initially [planned](https://

[2022-04-14 15:55] meltalite commented on #83
I don't mind at all. But I think it's better to push `4.6.1` so no one else will accidentally get into the same trouble again.

[2022-04-14 17:56] bploetz commented on #83
We ran into this today as well. We had our dependency defined as `^4.3.0`, and once we figured out what was going on, locking it down to `~4.3.0` fixed it for us.

Agreed that this should have been a major version bump to 5.0.0, and in the mean time a release of 4.6.1 that rolls it back sounds like the right thing to do. 👍

[2022-04-14 18:30] kingjan1999 commented on #83
Just published `4.6.1`. Please check if this works for you

[2022-04-18 00:03] meltalite commented on #83
Checked, the issue no longer occurred in `4.6.1`. ✅

ps: sorry for the delayed response due to the holiday

[2022-04-18 00:03] #83 closed

[2022-04-21 21:57] trajano commented on #59
The link does not appear to work anymore.

[2022-05-16 08:00] marcoambrosini commented on #83
Hi, I'm testing with 4.6.1 and the issue is stil present for me

[2022-05-24 06:36] ErlanBazarov opened #84 "How to use with common js project?"
Can this library be used with common js project? If yes, do you have examples of how to import it?

[2022-05-26 22:08] KeynesYouDigIt opened #85 "TypeError: Cannot read properties of undefined (reading 'then') in component axios call"
Version: "jest-mock-axios": "^4.6.1"

I have a react component that binds a function to an `onClick` event
[code]
and it makes an http call
[code]

I set up `mockAxios` as suggested by the read me. For some reason, when I `.simulate('click')` on the button node, I get this crap, like post didnt return a promise?

[code]

Does anyone know if axios being nested in a function means the mock wont work

[2022-05-26 22:17] kingjan1999 commented on #85
Hi,

thanks for raising this issue. Can you do `console.log(axioms);` or similar, to make sure the axioms instance is infact mocked correctly?

[2022-05-26 22:19] kingjan1999 commented on #84
Hi,

this should work out of the box with `require` instead of `import`. Did you try that? What kind of error occured?

[2022-05-26 22:35] KeynesYouDigIt commented on #85
Sure thing!

looks like it is to me
[code]

 Let me know if you'd like the full output. I will mess around in the debugger and add any interesting data I can find.

[2022-05-26 22:40] KeynesYouDigIt commented on #85
This is what I see in the debug console.... odd.... (breakpoint is inside the component function that uses axios)

[code]

[2022-05-26 22:42] kingjan1999 commented on #85
Can you try going to v4.5.0?

[2022-05-26 22:44] KeynesYouDigIt commented on #85
Same error I am afraid, thanks so much for helping me look in to this

[2022-05-26 22:46] kingjan1999 commented on #85
What does your import look like?

[2022-05-26 22:49] KeynesYouDigIt commented on #85
[code]

[code]

[2022-05-26 22:55] kingjan1999 commented on #85
That's strange. I'll try to look into this on the weekend

[2022-05-26 22:58] KeynesYouDigIt commented on #85
Much appreciated! I couldnt get  axios-mock-adapter to work either, nor my own mocks, so it may well not be an issue with this particular library. Perhaps having an axios call nested in a component method is not something commonly tested this way? Its also possible my jest env is mucking something up, I just don't know what.

[2022-05-30 21:44] kingjan1999 commented on #85
Hi,

coming back on this, I was unable to reproduce this. I tried modifying my React [test repo](https://github.com/kingjan1999/jest-mock-axios-cra-repro/tree/85-reproduce) a bit to have a code snippet similar to yours ([diff](https://github.com/kingjan1999/jest-mock-axios-cra-repro/commit/b1978f908a9d65ca4f8a87edb11fb6d5ac659538)). However, this works fine for me. Maybe you can take a look if the

[2022-05-31 21:46] kingjan1999 commented on #85
Thanks for finding this out! This is very interesting, as the behavior used to be different when `resetMocks` was `true` (as described in #63)

[2022-06-01 21:38] doutatsu commented on #63
Not sure if related, but I am getting `Cannot set properties of undefined (setting 'Authorization')` after upgrading to Jest 28. This comes from my custom axios configuration that sets the auth token:

[code]

[code]

Setting `resetMocks: false` doesn't help with this issue for me though

[2022-06-01 21:44] kingjan1999 commented on #63
@doutatsu Can you post a more complete example that shows how you invoke `setAuthConfig` / axios?

[2022-06-06 19:15] kmarple1 commented on #19
I'm having the same issue with `jest-mock-axios` 4.6.1. I've got `mockAxios.reset()` being called in `afterEach()`, and I've verified that it's actually being called every time. However, if I put an `expect(mockAxios).not.toHaveBeenCalled()` at the beginning of one of my later test, it will fail with multiple calls from previous tests in the same file.

[2022-07-06 03:16] #84 closed

[2022-08-01 21:57] taiweituan commented on #19
For me (4.5.0), adding

[code]

on top of

[code]

works for me. Not ideal as the example snippet provided which causes confusion, but it's working.

[2022-08-30 06:21] dika4152 opened #86 "Typescript error TS:1005, TS:1131, TS:1109, and TS:1128"
I was try to update into latest version, 4.6.1 and got this error on typescript checking,

<img width="752" alt="Screen Shot 2022-08-30 at 13 12 02" src="https://user-images.githubusercontent.com/53363720/187363474-9e9060a1-5717-40ca-87b0-c002dc70d217.png">

I believe it's coming from the `interface Interceptor`. Is there anything that I missed when update it to latest release OR maybe there will

[2022-08-31 15:01] ashalfarhan opened #87 "UnhandledPromiseRejection when returing `Promise.reject` on interceptor"
I'm trying to test my interceptor logic, whether calling the error reporter (like Sentry), showing toast error, and resetting the auth state if we received a 401 response from our server. The problem that we're facing is that we got the following error every time we ran the test:

[code]

Based on [Interceptors Docs](https://axios-http.com/docs/interceptors) we need to return a rejected promise on

[2022-09-01 15:07] kingjan1999 commented on #86
What typescript /  `tsc` version are you using?

[2022-09-01 15:29] kingjan1999 commented on #87
Hi,

thanks for raising this issue. You're right, response interceptors returning a promise are not correctly handled at the moment. I'll fix this.

[2022-09-01 17:33] kingjan1999 commented on #87
Hi,

I published `4.7.0-beta` on [npm](https://www.npmjs.com/package/jest-mock-axios/v/4.7.0-beta). This should fix the `UnhandledPromiseRejection` at least and make the test work. Can you install this version and try if it works?

This still does not implement correct interceptor behavior, as the result of the `onRejected` handler is discarded in any case. However, for the moment this might be en

[2022-09-02 01:08] ashalfarhan commented on #87
Hi @kingjan1999. I've installed the `4.7.0-beta` and it works. Thanks!

[2022-09-06 18:18] rosstroha commented on #87
Hello, I am also trying to test response interceptors. My test is expecting the function-under-test to throw an error, which is what I believe `Promise.reject` normally does, and it is failing because no error is being thrown. This is happening with `4.7.0-beta`

If I'm testing it incorrectly, please let me know, but here is what I'm doing:

[code]

The interceptors:
[code]

[2022-09-06 20:37] kingjan1999 commented on #87
@rosstroha I think you stumbled about the behavior I described above with "interceptors are not corrected properly".

The current implementation in `4.7.0-beta` just avoids the error being unhandled completely, but it does not handle it properly whatsoever. I'll fix this before releasing `4.7.0` , once I've found out why this isn't working at the moment.

[2022-09-07 14:58] rosstroha commented on #87
Fair enough :) Thank you @kingjan1999!

[2022-10-07 11:40] FlorianCassayre commented on #85
@KeynesYouDigIt's snippet worked for me, saved me an hour of debugging. Not sure why though.

[2022-11-11 15:06] CezarManea opened #88 "Error when using with @slack/web-api"
Because of this line of code
https://github.com/slackapi/node-slack-sdk/blob/main/packages/web-api/src/WebClient.ts#L216

When you use `jest-mock-axios` in combination with `@slack/web-api` you get failed tests with the following error:
[code]

Solution is to add here
https://github.com/knee-cola/jest-mock-axios/blob/master/lib/mock-axios.ts#L139
[code]

[2022-11-12 19:09] kingjan1999 commented on #88
Fixed with `v4.6.2` /  `v4.7.0-beta2`

[2022-11-12 19:09] #88 closed